{% extends "user/template_user.html" %}
{% block title %}{{ class_name }}{% endblock %}
{% block extra_style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/user/courses.css') }}">
{% endblock %}
{% block main_content %}
    {% for course, modules in courses.items() %}
    <section class="content-section">
        <div class="flex-container-1">
            <img src="{{ url_for('static', filename='img/course_menu/'+ course + '.svg') }}" alt="course-logo">
            <h2>{{ course }}</h2>
        </div>
        <div class="modules">
            <ul>
                {% for module in modules %}
                <li class="module-card {% if loop.index > 4 %}hidden{% endif %}">
                    <a href="{{ url_for('views.module_route', class_name=class_name, course=course, module=module[0]) }}">
                    <img src="{{ module[1] }}" 
                        alt="{{ image }}">
                        <div class="flex-container-2">
                            <div class="flex-text">
                            <p>{{ course }}</p>
                            <h6>{{ module[0] }}</h6>
                            </div>
                            <button>+</button>
                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
            <div class="button-container">  
                <hr>  
                <button onclick="toggleShowAll(this)">show all</button>
            </div>
        </div>
    </section>
    {% endfor %}
{% endblock %}
{% block extra_script %}
<script src="{{ url_for('static', filename='js/user/courses.js') }}"></script>
{% endblock %}
