{% extends "user/template_user.html" %}
{% block extra_style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/user/home.css') }}">
{% endblock %}
{% block main_content %}
        <!-- Latest course section -->
        <section class="latest-course">
            <div class="flex-container-1">
                <img src="{{ url_for('static', filename='img/dash/course-icon.svg') }}">
                <h2>Materi Terbaru</h2>
            </div>
            <div class="courses">
                <ul>
                    {% for content in latest_content %}
                    <li class="course-card">
                        <a href="{{ url_for('views.module_route', class_name=content.Class, course=content.Course, module=content.Module) }}">
                        <img src="{{ content.img_path }}">
                            <div class="flex-container-2">
                                <div class="flex-text">
                                    <p>{{ content.Class }}</p>
                                    <div>
                                        <h6>{{ content.Module }}</h6>
                                        <h6 class="onlyphone">-</h6>
                                        <h6 class="onlyphone">{{ content.Course }}</h6>
                                    </div>
                                </div>
                                <button>+</button>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
        <section class="most-viewed-course">
            <div class="flex-container-1">
                <img src="{{ url_for('static', filename='img/dash/view-icon.svg') }}">
                <h2>Materi Terpopuler</h2>
            </div>
            <div class="courses">
                <ul>
                    {% for content in most_viewed_content %}
                    <li class="course-card">
                        <a href="{{ url_for('views.module_route', class_name=content.Class, course=content.Course, module=content.Module) }}">
                        <img src="{{ content.img_path }}">
                            <div class="flex-container-2">
                                <div class="flex-text">
                                    <p>{{ content.Class }}</p>
                                    <div>
                                        <h6>{{ content.Module }}</h6>
                                        <h6 class="onlyphone">-</h6>
                                        <h6 class="onlyphone">{{ content.Course }}</h6>
                                    </div>
                                </div>
                                <button>+</button>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
{% endblock%}
