{% extends "user/template_user.html" %}
{% block title %}Pengaturan{% endblock %}
{% block extra_style %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.css" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/user/settings.css') }}">
{% endblock %}
{% block popup %}
<div id="loading" class="hidden">
    <img src="{{ url_for('static', filename='img/loading.gif') }}" alt="loading">
</div>
<div id="popup-container" class="hidden">
    <div id="email" class="popup hidden">
        <div>
            <button class="back" onclick="togglePopup('email')">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="#e8eaed">
                    <path d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z" />
                </svg>
                <span>Kembali</span>
            </button>
        </div>
        <form id="update-email">
            <h2>Ubah Email</h2>
            <div>
                <label for="old-email">Email Lama</label>
                <input type="email" id="old-email" name="old-email" required>
            </div>
            <div>
                <label for="new-email">Email Baru</label>
                <input type="email" id="new-email" name="new-email" required>
            </div>
            <button class="submit" type="submit">Confirm</button>
        </form>
    </div>
    <div id="otp" class="popup hidden">
        <div>
            <button class="back" onclick="togglePopup('otp')">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="#e8eaed">
                    <path d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z" />
                </svg>
                <span>Kembali</span>
            </button>
        </div>
        <div class="title">
            <h2>Cek Emailmu</h2>
            <p>Kami telah mengirim kode verifikasi ke {{ user.email }}</p>
        </div>
        <form class="otp" id="otp-confirmation">
            <input type="hidden" id="type-otp" name="type-otp">
            <div id="otp-input-boxes">
                <div class="otp-input-box">
                    <input type="number" name="otp1" maxlength="1" required>
                </div>
                <div class="otp-input-box">
                    <input type="number" name="otp2" maxlength="1" required>
                </div>
                <div class="otp-input-box">
                    <input type="number" name="otp3" maxlength="1" required>
                </div>
                <div class="otp-input-box">
                    <input type="number" name="otp4" maxlength="1" required>
                </div>
                <div class="otp-input-box">
                    <input type="number" name="otp5" maxlength="1" required>
                </div>
                <div class="otp-input-box">
                    <input type="number" name="otp6" maxlength="1" required>
                </div>
            </div>
            <div class="otp-button otp-input-box">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
    <div id="password" class="popup hidden">
        <div>
            <button class="back" onclick="togglePopup('password')">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="#e8eaed">
                    <path d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z" />
                </svg>
                <span>Kembali</span>
            </button>
        </div>
        <form id="update-password">
            <h2>Ubah Password</h2>
            <div>
                <label for="old-password">Password Lama</label>
                <input type="text" id="old-password" name="old-password" required>
            </div>
            <div>
                <label for="new-password">Password Baru</label>
                <input type="text" id="new-password" name="new-password" required>
            </div>
            <div>
                <label for="confirm-password">Konfirmasi Password</label>
                <input type="text" id="confirm-password" name="confirm-password" required>
            </div>
            <button class="submit" type="submit">Simpan</button>
        </form>
    </div>
    <div id="crop-photo" class="popup hidden">
        <div>
            <button class="back" onclick="togglePopup('crop-photo')">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="#e8eaed">
                    <path d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z" />
                </svg>
                <span>Kembali</span>
            </button>
        </div>
        <div>
            <img src="" alt="cropped image" id="crop-image">
        </div>
        <div id="crop-button">
            <button onclick="showCroppedImage()">Crop</button>
        </div>
    </div>
</div>
<div id="messages"></div>
{% endblock %}
{% block main_content %}
<div id="main_content">
    <h1>Pengaturan</h1>
    <div id="select-button">
        <button class="active-btn" onclick="toggleMenu(this)">Profil</button>
        <button onclick="toggleMenu(this)">Keamanan</button>
        <button onclick="toggleMenu(this)">Notifikasi</button>
    </div>
    <div id="profil" class="menu">
        <form id="data-profile">
            <div class="form-data">
                <div class="photo-profile">
                    <img src="{{ url_for('static', filename=user.photo) }}" alt="profil picture" id="photo-profile">
                    <label for="photo-pic">Ganti Foto</label>
                    <input type="file" id="photo-pic" name="photo-pic" accept="image/*" style="display: none;">
                </div>
                <div class="user-profil">
                    <div>
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username" value="{{ user.username }}">
                    </div>
                    <div>
                        <label for="school">Sekolah</label>
                        <input type="text" id="school" name="school" value="{{ user.School_name }}">
                    </div>
                </div>
            </div>
            <button type="submit">Simpan</button>
        </form>
        <h3>Export Data</h3>
        <a href="{{ url_for('export_pdf') }}">
            <button>Export Data to PDF</button>
        </a>
    </div>
    <div id="keamanan" class="menu hidden">
        <div class="choose" onclick="togglePopup('email')">
            <p>Ubah Email</p>
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF">
                <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z" />
            </svg>
        </div>
        <div class="choose" onclick="togglePopup('password')">
            <p>Ubah Password</p>
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF">
                <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z" />
            </svg>
        </div>
        <div class="choose" id="delete-acc" onclick="delete_account()">
            <p>Hapus Akun</p>
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF">
                <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z" />
            </svg>
        </div>
    
        <div class="choose">
            <a href="{{ url_for('export_pdf') }}">
                <p>Export Data ke PDF</p>
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF">
                    <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z" />
                </svg>
            </a>
        </div>
    </div>
    <div id="notifikasi" class="menu hidden">
        <div class="notif">
            <div class="choose" onclick="showdropdown(this,'web_notif')">
                <p>Notifikasi di Web</p>
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                    fill="#e8eaed">
                    <path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z" />
                </svg>
            </div>
            <div class="dropdown hidden" id="web_notif">
                <div>
                    <p>Aktivitas Akun</p>
                    <div class="switch">
                        <input type="checkbox" id="acc_activity" {% if user.web_notif.acc_activity %}checked{% endif %}>
                        <label for="acc_activity" class="button"></label>
                    </div>
                </div>
                <div>
                    <p>Pengumuman</p>
                    <div class="switch">
                        <input type="checkbox" id="announcement" {% if user.web_notif.announcement %}checked{% endif %}>
                        <label for="announcement" class="button"></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="notif">
            <div class="choose" onclick="showdropdown(this,'email_notif')">
                <p>Notifikasi via Email</p>
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                    fill="#e8eaed">
                    <path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z" />
                </svg>
            </div>
            <div class="dropdown hidden" id="email_notif">
                <div>
                    <p>Laporan Harian</p>
                    <div class="switch">
                        <input type="checkbox" id="daily_report" {% if user.email_notif.daily_report %}checked{% endif
                            %}>
                        <label for="daily_report" class="button"></label>
                    </div>
                </div>
                <div>
                    <p>Pengingat Harian</p>
                    <div class="switch">
                        <input type="checkbox" id="daily_reminder" {% if user.email_notif.daily_reminder %}checked{%
                            endif %}>
                        <label for="daily_reminder" class="button"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js"></script>
<script src="{{ url_for('static', filename='js/user/settings.js') }}"></script>
{% endblock %}