<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Edit Page</title>
		<script src="https://cdn.tiny.cloud/1/j9jythd1p8eczja9tduuyj26dazl6ilyijbwoyeekh9fu7kv/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/add_update.css') }}">
	</head>
	<body>
        <header>
            <div class="header">
                <button id="back-btn" onclick="back()">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z"/></svg>
                    <p>Back</p>
                </button>
                <input type="text" id="module-name" class="post-info" placeholder="Module Name" value="{{data.Module}}" required>
                <div id="cloud-btn" class="cloud"></div>
                <div class="right-btn">
                    <button id="preview-btn" onclick="window.open(`{{ url_for('admin.preview', tempcontent_id=data.id) }}`, '_blank')">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M480-320q75 0 127.5-52.5T660-500q0-75-52.5-127.5T480-680q-75 0-127.5 52.5T300-500q0 75 52.5 127.5T480-320Zm0-72q-45 0-76.5-31.5T372-500q0-45 31.5-76.5T480-608q45 0 76.5 31.5T588-500q0 45-31.5 76.5T480-392Zm0 192q-146 0-266-81.5T40-500q54-137 174-218.5T480-800q146 0 266 81.5T920-500q-54 137-174 218.5T480-200Zm0-300Zm0 220q113 0 207.5-59.5T832-500q-50-101-144.5-160.5T480-720q-113 0-207.5 59.5T128-500q50 101 144.5 160.5T480-280Z"/></svg>
                        <p>Preview</p>
                    </button>
                    <button id="publish-btn" onclick="publish()">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M120-160v-640l760 320-760 320Zm80-120 474-200-474-200v140l240 60-240 60v140Zm0 0v-400 400Z"/></svg>
                        <p>Publish</p>
                    </button>
                </div>
            </div>
        </header>
        <div class="content">
            <div class="main-container">
<div id="editor">
{{data.generated_html|safe}}
</div>
            </div>
            <div class="side-bar">
                <div class="info-container">
                    <p>Class Nama :</p>
                    <input type="text" id="class-name" class="post-info" placeholder="Class Name" value="{{data.Class}}" required>
                </div>
                <div class="info-container">
                    <p>Course Nama :</p>
                    <input type="text" id="course-name" class="post-info" placeholder="Course Name" value="{{data.Course}}" required>
                </div>
                <div class="info-container">
                    <p>Visit Points :</p>
                    <input type="number" id="visit-point" class="post-info" placeholder="Visit Point" value="{{data.Visit_point}}" required>
                </div>
                <div class="info-container">
                    <p>Exercise Points :</p>
                    <input type="number" id="exercise-point" class="post-info" placeholder="Exercise Point" value="{{data.Exercise_point}}" required>
                </div>
            </div>
        </div>
        <input type="hidden" id="tempcontent_id" value="{{data.id}}">
		<script src="{{ url_for('static', filename='js/admin/add_update.js') }}"></script>
	</body>
</html>