main{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    gap: 10px;
    position: relative;
}

header .icons {
    display: flex;
    align-items: center;
    margin-right: 5px;
    margin-left: 20px;
    justify-content: flex-end;
    gap: 20px;
}
.have-notif::after{
    content: '';
    position: absolute;
    top: 8px;
    right: 8px;
    width: 12px;
    height: 12px;
    background-color: #ff0000;
    border-radius: 50%;
}

header button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
    width: auto;
    height: 100%;
    border-radius: 50%;
    position: relative;
    img {
        width: 30px;
        height: 30px;
    }
}
header button:hover {
    background-color: #333333;
}
#loading-notif{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    img{
        animation: rotateClockwise 1s linear infinite;
        height: 50px;
    }
}

@keyframes rotateClockwise {
    0% {
        transform: rotate(0deg); 
    }
    100% {
        transform: rotate(360deg);
    }
}

#dropdown-notif{
    position: fixed;
    top: 60px;
    right: 30px;
    width: 300px;
    height: 400px;
    background-color: #232323;
    border: 1px solid #8a8a8a;
    border-radius: 5px;
    z-index: 3;
    #notif-container{
        display: flex;
        flex-direction: column;
        font-family: 'Poppins', sans-serif;
        gap: 5px;
        h2{
            margin: 0;
            padding: 10px;
            font-weight: 600;
        }
    }
    #notif-filter{
        justify-content: flex-start;
        align-items: center;
        display: flex;
        gap: 10px;
        border-bottom: var(--text-clr) 1px solid;
        button{
            margin-left: 10px;
            background-color: transparent;
            font-family: 'Poppins', sans-serif;
            padding: 10px;
            font-weight: 500;
            color: #b0b3c1;
            border: none;
            cursor: pointer;
            width: auto;
            transition: border-bottom 0.1s ease-in-out;
            height: 100%;
            border-bottom: transparent 4px solid;
        }
        button.active,
        button:hover{
            border-bottom: var(--accent-clr) 4px solid;
            color: var(--text-clr);
        }
    }

    .notif-list{
        margin: 0;
        overflow-y: scroll;
        max-height: 284px;
        .not-read{
            background: #2c3964;
        }
        li{
            font-family: 'Poppins', sans-serif;
            list-style: none;
            padding: 5px 10px;
            cursor: pointer;
            transition: background-color 0.2s ease-in-out;
            border-bottom: var(--text-clr) 1px solid;
            display: flex;
            align-items: center;
            justify-content: space-between;
            a{
                text-decoration: none;
                display: inherit;
                color: inherit;
                width: 100%;
                justify-content: space-between;
            }
            svg{
                width: 40px;
                height: auto;
                margin-left: 10px;
            }
            span{
                display: flex;
                flex-direction: column;
                max-width: 75%;
                gap: 3px;
                p{
                    font-weight: 700;
                    text-align: justify;
                }
                h6{
                    font-weight: 400;
                    color: var(--secondary-text-clr);
                }
            }
        }
        li:hover{
            background-color: #333333;
        }
    }
}
#full-content{
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    .full-content-notif{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    #back-box{
        width: 100%;
        .back{
            max-width: 80px;
            position: relative;
            right: 15px;
            padding: 5px;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            color: #ffffff;
            background-color: transparent;
            align-items: center;
            display: flex;
            gap: 5px;
            svg{
                width: 20px;
                height: 20px;
            }
        }
        .back:hover{
            background-color: #646363;
        }
    }
    
    p{
        font-size: 16px;
        text-align: center;
        font-weight: bold;
        margin-bottom: 10px;
        margin-top: 20px;
    }
    h6{
        font-size: 14px;
        text-align: justify;
        font-weight: 400;
    }
}


::-webkit-scrollbar{
        width: 4px;
        height: 4px;
    }
::-webkit-scrollbar-track{
    background: transparent;
}
::-webkit-scrollbar-thumb{
    background: rgb(89, 89, 89);
    border-radius: 10px;
}

.hidden{
    display: none !important;
}
@media (min-width: 768px) {
    .hamburger{
        display: none;
    }
}
.items-box{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
    margin-top: 10px;
    margin-left: 1%;
    margin-right: 1%;
}
.item-box{
    flex: 0 0 calc(25% - 20px);
    background-color: #333333;
    border-radius: 11px;
    padding: 20px 10px;
}
.item{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}
.item svg{
    width: 20%;
    height: auto;
    fill: #5e63ff;
}
.item-text{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.item-text p{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 5px;
}
.item-text h3{
    font-size: 1.2rem;
    font-weight: 400;
}

@media (max-width: 768px) {
    .item-box{
        flex: 0 0 100%;
    }
    #myChart{
    width: 100%; 
    }
}
@media (max-width: 1120px) {
    .item-box{
        flex: 0 0 calc(50% - 10px);
    }
    #myChart{
    width: 100%; 
    }
}
#update{
    transition: transform 1s ease-in-out;
}
.click {
    animation: rotateClockwise 1s linear;
}
@keyframes rotateClockwise {
    0% {
        transform: rotate(0deg); 
    }
    100% {
        transform: rotate(360deg);
    }
}
#myChart{
    width: 100% !important; 
}
.graph-box{
    position: relative;
    padding: 10px;
    margin-left: 1%;
    margin-right: 1%;
}
.chart-box{
    position: relative;
    background-color: #333333;
    border-radius: 11px;
    padding: 20px 10px;
}

.chart{
    position: relative;
    z-index: 1;
}

#no-data-message {
    position: absolute;  
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    z-index: 2;  
}

.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.buttons button{
    background-color: #8a8a8a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}
.graph-btn,
.dates-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.btn-use{
    background-color: #333333 !important;
    color:#5e63ff !important;
}