    #popup-container{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 4;
    }
    .popup{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        background-color: #222533;
        border-radius: 10px;
        padding: 1.8rem 3rem;
        color:#ffffff;
        max-width: 800px;
        width: 100%;
        max-height: 95vh;
        form{
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 100%;
            padding: 5px;
        }
        .submit{
            color:#ffffff;
            padding: 10px 20px;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            font-weight: bold;
            background-color: var(--accent-clr);
        }
        .submit:hover{
            background-color: #575ce8;
        }
        input,
        textarea{
            font-family: "Poppins", sans-serif;
            height: 45px;
            width: 100%;
            outline: none;
            border: none;
            padding: 10px;
            font-size: 14px;
            font-weight: 500;
            border-bottom: 2px solid var(--line-clr);
            transition: all 0.3s ease;
            background-color: #353538;
            color: #fff;
            appearance: none;
        }
        input:focus,
        input:valid,
        textarea:focus,
        textarea:valid{
            border-color: #38a3a6; 
        }
        textarea{
            width: auto;
            font-size: 12px;
            height: auto;
        }
        div{
            display: flex;
            gap: 10px;
            flex-direction: column;
        }
        #back-box{
            width: 100%;
        }
        .back{
            max-width: 80px;
            position: relative;
            right: 15px;
            padding: 5px;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            color: #ffffff;
            background-color: transparent;
            align-items: center;
            display: flex;
            gap: 5px;
            svg{
                width: 20px;
                height: 20px;
            }
        }
        .back:hover{
            background-color: #646363;
        }
    }
    .blur{
        opacity: 0.5;
        filter: blur(5px);
    }
    @media screen and (max-width: 768px) {
        .popup{
            max-width: 450px;
        }
        
    }

    #messages{
        position: fixed;
        right: 0;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        z-index: 10;
        padding: 1rem;
        gap: 10px;
    }
    .message{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        color: #ffffff;
        padding: 10px;
        gap: 10px;
        h2{
            font-weight: 700;
        }
        p{
            font-size: 1rem;
        }
        button{
            border: none;
            outline: none;
            background: none;
            color: #ffffff;
            font-size: 1.8em;
            cursor: pointer;
        }
    }
    .icon{
        background-size: cover;
        background-position: center;
        width: 60px;
        height: 60px;
    }
    .success{
        background-color: #018e01;
        .icon{
            background-image: url("/static/img/success.svg");
        }
    }
    .error{
        background-color: #750202;
        .icon{
            background-image: url("/static/img/warning.svg");
        }
    }
    .text-msg{
        display: flex;
        flex-direction: column;
    }
    
    .fade-out{
        opacity: 0;
        transition: opacity 2s ease-out;
    }
    main{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    header {
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        padding: 0 10px;
        border-bottom: #8a8a8a solid 1px;
        gap: 10px;
        position: sticky;
        top: 0;
        background-color: #11121a;
        z-index: 3;
    }

    header input[type="text"] {
        flex: 1;
        margin-left: 5px;
        padding: 10px;
        border-radius: 20px;
        border: 1px solid #ffffff;
        width: 70%;
        height: auto;
        color: #ffffff;
        background-color: transparent;
        background-image: url("/static/img/dash/search-icon.svg");
        background-repeat: no-repeat;
        background-position: 10px center;
        background-size: 20px 20px;
        padding-left: 40px;
        margin-right: 15px;
    }
    
    header input[type="text"]::placeholder {
        color: #ffffff;
    }

    header .icons {
        display: flex;
        align-items: center;
        margin-right: 5px;
        margin-left: 20px;
        justify-content: flex-end;
        gap: 20px;
    }

    header button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 5px;
        width: auto;
        height: 100%;
        border-radius: 50%;
        img {
            width: 30px;
            height: 30px;
        }
    }
    header button:hover {
        background-color: #333333;
    }
    #dropdown-notif{
        position: fixed;
        top: 60px;
        right: 30px;
        width: 300px;
        height: 400px;
        background-color: #232323;
        border: 1px solid #8a8a8a;
        border-radius: 5px;
        z-index: 3;
        #notif-container{
            display: flex;
            flex-direction: column;
            font-family: 'Poppins', sans-serif;
            gap: 5px;
            h2{
                margin: 0;
                padding: 10px;
                font-weight: 600;
            }
        }
        #notif-filter{
            justify-content: flex-start;
            align-items: center;
            display: flex;
            gap: 10px;
            border-bottom: var(--text-clr) 1px solid;
            button{
                margin-left: 10px;
                background-color: transparent;
                font-family: 'Poppins', sans-serif;
                padding: 10px;
                font-weight: 500;
                color: #b0b3c1;
                border: none;
                cursor: pointer;
                width: auto;
                transition: border-bottom 0.1s ease-in-out;
                height: 100%;
                border-bottom: transparent 4px solid;
            }
            button.active,
            button:hover{
                border-bottom: var(--accent-clr) 4px solid;
                color: var(--text-clr);
            }
        }

        .notif-list{
            margin: 0;
            overflow-y: scroll;
            max-height: 284px;
            li{
                font-family: 'Poppins', sans-serif;
                list-style: none;
                margin-bottom: 10px;
                padding: 5px 10px;
                cursor: pointer;
                transition: background-color 0.2s ease-in-out;
                border-bottom: var(--text-clr) 1px solid;
                display: flex;
                align-items: center;
                justify-content: space-between;
                svg{
                    width: 40px;
                    height: auto;
                    margin-left: 10px;
                }
                span{
                    display: flex;
                    flex-direction: column;
                    max-width: 75%;
                    gap: 3px;
                    p{
                        font-weight: 700;
                        text-align: justify;
                    }
                    h6{
                        font-weight: 400;
                        color: var(--secondary-text-clr);
                    }
                }
                &:hover{
                    background-color: #333333;
                }
            }
        }
    }
    #full-content{
        padding: 1.5rem 1rem;
        display: flex;
        flex-direction: column;
        gap: 10px;
        overflow-y: scroll;
        width: 100%;
        height: 100%;
        font-family: 'Poppins', sans-serif;
        .full-content-notif{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
        }
        #back-box{
            width: 100%;
            .back{
                max-width: 80px;
                position: relative;
                right: 15px;
                padding: 5px;
                border-radius: 5px;
                border: none;
                cursor: pointer;
                color: #ffffff;
                background-color: transparent;
                align-items: center;
                display: flex;
                gap: 5px;
                svg{
                    width: 20px;
                    height: 20px;
                }
            }
            .back:hover{
                background-color: #646363;
            }
        }
        
        p{
            font-size: 16px;
            text-align: center;
            font-weight: bold;
            margin-bottom: 10px;
            margin-top: 20px;
        }
        h6{
            font-size: 14px;
            text-align: justify;
            font-weight: 400;
        }
    }
::-webkit-scrollbar{
        width: 4px;
        height: 4px;
    }
::-webkit-scrollbar-track{
    background: transparent;
}
::-webkit-scrollbar-thumb{
    background: rgb(89, 89, 89);
    border-radius: 10px;
}


.hidden{
    display: none !important;
}
@media (min-width: 768px) {
    .hamburger{
        display: none;
    }
}
.buttons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px 15px;
    button{
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        padding: 10px 5px 10px 15px;
        border-radius: 5px;
        cursor: pointer;
        border: none;
        gap: 8px;
        background-color: #ff1616;
    }
    button:hover{
        background-color: #ff3333;
    }
}
table {
    width: 100%;
    height: max-content;
    border-collapse: collapse;
    border-radius: 5px;
    border-top: #8a8a8a 1px solid;
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #8a8a8a;
}

select{
    background-color: #555555;
    font-size: 1rem;
    padding: 8px 5px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    color: #ffffff;
    outline: none;
}
select:hover{
    background-color: #8a8a8a;
}

#pagination {
    margin-top: auto;
    display: flex;
    justify-content: center;
    padding: 3%;
    gap: 10px;
    button{
        background-color: #555555;
        border: none;
        cursor: pointer;
        padding: 5px;
        width: 30px;
        height: 30px;
        border-radius: 5px;
        color: #ffffff;
    }
    button:hover{
        background-color: #8a8a8a;
    }
}