<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/c/CodingLabYT-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authintication Form</title>
    <link rel="icon" href="{{ url_for('static', filename='img/dash/logo website.svg') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
    <script src="https://www.google.com/recaptcha/api.js?onload=onRecaptchaLoaded&render=explicit" async defer></script>
   </head>
<body>
  <div id="loading" class="hidden">
    <img src="{{ url_for('static', filename='img/loading.gif') }}" alt="loading">
  </div>
  <div id="popup-container" class="hidden">
    <div id="otp" class="popup hidden">
      <div>
          <button class="back" onclick="togglePopup('otp')">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="#e8eaed"><path d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z"/></svg>
              <span>Kembali</span>
          </button>
      </div>
      <div class="title">
          <h2>Cek Emailmu</h2>
          <p id="email-msg"></p>
      </div>
      <form class="otp" id="otp-confirmation">
          <input type="hidden" id="type-otp" name="type-otp" >
          <div id="otp-input-boxes">
              <div class="otp-input-box">
                  <input type="number" name="otp1" maxlength="1" required>
              </div>
              <div class="otp-input-box">
                  <input type="number" name="otp2" maxlength="1" required>
              </div>
              <div class="otp-input-box">
                  <input type="number" name="otp3" maxlength="1" required>
              </div>
              <div class="otp-input-box">
                  <input type="number" name="otp4" maxlength="1" required>
              </div>
              <div class="otp-input-box">
                  <input type="number" name="otp5" maxlength="1" required>
              </div>
              <div class="otp-input-box">
                  <input type="number" name="otp6" maxlength="1" required>
              </div>
          </div>
          <div class="otp-button otp-input-box">
              <input type="submit" value="Submit">
          </div>
      </form>
    </div>
    <div id="email-forgot" class="popup form-content hidden">
      <div>
        <button class="back" onclick="togglePopup('email-forgot')">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="#e8eaed"><path d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z"/></svg>
            <span>Kembali</span>
        </button>
      </div>
      <div>
        <div class="title">
          <h2>Reset Password</h2>
          <p>Masukkan email yang terdaftar</p>
        </div>
      </div>
      <form id="email" class="form">
        <div class="input-boxes">
          <div class="input-box">
            <i class="fas fa-envelope"></i>
            <input type="text" name="email" placeholder="Email" required>
          </div>
          <div class="captcha-container"></div>
          <div class="button input-box">
            <input type="submit" value="Submit">
          </div>
        </div>
      </form>
    </div>
    <div id="pass-forgot" class="popup form-content hidden">
      <div>
        <button class="back" onclick="togglePopup('pass-forgot')">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="#e8eaed"><path d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z"/></svg>
            <span>Kembali</span>
        </button>
      </div>
      <div>
        <div class="title">
          <h2>Reset Password</h2>
          <p>Buat password baru</p>
        </div>
      </div>
      <form id="pass" class="form">
        <div class="input-boxes">
          <div class="input-box">
            <i class="fas fa-lock"></i>
            <input type="text" name="password1" placeholder="Password Baru" required>
          </div>
          <div class="input-box">
            <i class="fas fa-lock"></i>
            <input type="text" name="password2" placeholder="Konfirmasi Password" required>
          </div>
          <div class="button input-box">
            <input type="submit" value="Submit">
          </div>
        </div>
      </form>
    </div>
  </div>
  <div id="messages"></div>
  <div id="container">
    <div id="web-hook">
      <div>
          <img src="static/img/dash/logo%20website.svg">
          <h1>Study World</h1>
      </div>
      <div>
          <p>Your Online Learning Companion</p>
      </div>
    </div>
    <div id="in-container">
      <input type="checkbox" id="flip">
          <div class="cover">
            <div class="front">
              <img src="{{ url_for('static', filename='img/frontImg.jpg') }}" alt="">
              <div class="text">
                <span class="text-1">Teman baru membawa <br> petualangan baru</span>
                <br />
                <span class="text-2">Ayo mulai</span>
              </div>
            </div>
            <div class="back">
              <img class="backImg" src="{{ url_for('static', filename='img/frontImg.jpg') }}" alt="">
              <div class="text">
                <span class="text-1">Ikuti petualangan dengan satu langkah</span>
                <br />
                <span class="text-2">Ayo bergabung</span>
              </div>
            </div>
          </div>
      <div class="forms">
          <div class="form-content">
            <div class="login-form">
              <div class="title">Login</div>
              <form class="form" id="login">
                <div class="input-boxes">
                  <div class="input-box">
                    <i class="fas fa-envelope"></i>
                    <input type="text" name="email" placeholder="Email" required>
                  </div>
                  <div class="input-box">
                    <i class="fas fa-lock"></i>
                    <input type="password" name="password" placeholder="Password" required>
                    <i class="fas fa-eye-slash" onclick="togglePasswordVisibility(this)"></i>
                  </div>
                  <div class="text"><a onclick="togglePopup('email-forgot')">Lupa Password?</a></div>
                  <div class="captcha-container" ></div>
                  <div class="button input-box">
                    <input type="submit" value="Submit">
                  </div>
                  <div class="text sign-up-text">Belum punya akun? <label for="flip" onclick="toggleFlip('signup')">Sign up</label></div>
                </div>
              </form>
            </div>
            <div class="signup-form">
              <div class="title">Sign up</div>
              <form class="form" id="signup">
                  <div class="input-boxes">
                    <div class="input-box">
                      <i class="fas fa-user"></i>
                      <input type="text" name="name" placeholder="Nama Lengkap" required>
                    </div>
                    <div class="input-box">
                      <i class="fas fa-envelope"></i>
                      <input type="text" name="email" placeholder="Email" required>
                    </div>
                    <div class="input-box">
                      <i class="fas fa-lock"></i>
                      <input type="password" name="password1" placeholder="Create Password" required>
                      <i class="fas fa-eye-slash" onclick="togglePasswordVisibility(this)"></i>
                    </div>
                    <div class="input-box">
                      <i class="fas fa-lock"></i>
                      <input type="password" name= "password2" placeholder="Confirm Password" required>
                      <i class="fas fa-eye-slash" onclick="togglePasswordVisibility(this)"></i>
                    </div>
                    <br>
                    <div class="captcha-container" ></div>
                    <div class="button input-box">
                      <input type="submit" value="Submit">
                    </div>
                    <div class="text sign-up-text">Sudah punya akun? <label for="flip" onclick="toggleFlip('login')">Login</label></div>
                  </div>
              </form>
            </div>
          </div>
      </div>
    </div>
  </div>
  <script src="{{ url_for('static', filename='js/auth.js') }}"></script>
</body>
</html>